body{ 
    min-height: 100vh; 
    margin: 0; 
    
    display: grid;
    grid-template-rows: auto 1fr auto;
  }

.btn-outline-secondary:hover {
    color: #6c757d !important;
    background-color: #FFF !important;
    border-color: #6c757d !important;
}

.btn-outline-secondary:focus, .btn-outline-secondary:active {
    outline: none !important;
    box-shadow: none !important;
 }

#code {
    font-size: 2rem;
    padding: 0 !important;
    margin: 0 !important;
}

.pin_button {
    padding: 2rem 0 2rem 0 !important;
    font-size: 2rem !important;
    border: none !important;
}

.pin_button p {
    padding: 2rem 0 2rem 0 !important;
    font-size: 20px !important;
}

#go {
    padding: 0 !important;
    padding-left: 0px !important;
    border-radius: 10px;
    font-size: 20px;
}

#del {
    /* padding: 0px !important; */
    font-size: 26px !important;
}

.container {
    min-height: calc(100vh - 120px) !important;
}
